Body {
    background: #f26c4f;
    color: #9e0b0f;
    font-family: courier;
}

h1 {
    color: #9e0b0f;
    font-size: 120px
}

h2 {
    color: #9e0b0f;
    font-size: 50px
}

h3 {
    color: #9e0b0f;
    font-size: 35px
}

blockquote {
    font-size: 30px;
}

.green {
    color: #9e0b0f;
    font-size: 25px;
}

.blue {
    font-size: 15px;
}

.gold {
    border: 1px solid #9e0b0f;
    vertical-align: middle;
    margin-bottom: 3px;
    font-size: 10px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

div.gallery img {
    width: 100%;
}

div.desc {
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.menu {
    list-style: none;
    padding: 0%;
    background: #ccc;
    width: 90%;
    max-width: 1000px;
}

.menu li a {
    text-decoration: none;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li:hover {
    background: #d358f7;
}

p {
    font-size: 20px
}

hr {
    color: #9e0b0f;
    background-color: #9e0b0f;
}

.form-registro {
    width: 400 px;
    background: #ccc;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    font-size: 25px;
    box-shadow: 7px 13px 37px;
}

.form-registro h4 {
    font-size: 35px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #f26c4f;
    padding: 10px;
    border-radius: 13px;
    margin-bottom: 16px;
    border: 1px solid #D8A9F5;
    font-size: 18px;
}

.form-registro p {
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.form-registro a {
    color: #AC58FA;
    text-orientation: none;
}

.form-registro a:hover {
    color: #AC58FA;
    text-orientation: underline;
}

.form-registro .buttons {
    width: 100%;
    background: #AC58FA;
    border: none;
    padding: 12px;
    color: #9e0b0f;
    margin: 16px;
    font-size: 27px;
}